RELAY_AGENT_COUNTRY=SE
RELAY_AGENT_SIGNALING_URL=http://127.0.0.1:4000
RELAY_AGENT_PROXY_BIND_HOST=0.0.0.0
RELAY_AGENT_PROXY_PORT=1080
RELAY_AGENT_CONTROL_BIND_HOST=127.0.0.1
RELAY_AGENT_CONTROL_PORT=9900
RELAY_AGENT_PUBLIC_IP=51.20.141.138
RELAY_AGENT_PROXY_PUBLIC_HOST=51.20.141.138
