PORT=4000
DEV_PROXY_PORT=8899

RELAY_AWS_ENABLED=true
RELAY_AWS_SIGNALING_URL=http://<public-signaling-host>:3000
RELAY_AWS_GIT_REPO_URL=https://github.com/Geniue/proxyVpn.git
RELAY_AWS_DEFAULT_INSTANCE_TYPE=t3.micro
RELAY_AWS_ENSURE_WAIT_MS=30000
RELAY_AWS_IDLE_TIMEOUT_MS=600000
RELAY_AWS_CLEANUP_INTERVAL_MS=60000
RELAY_AWS_CLEANUP_MODE=stop
RELAY_AWS_DESIRED_CAPACITY_DEFAULT=0

RELAY_AWS_REGION_DE=eu-central-1
RELAY_AWS_AMI_ID_DE=ami-xxxxxxxxxxxxxxxxx
RELAY_AWS_SUBNET_ID_DE=subnet-xxxxxxxxxxxxxxxxx
RELAY_AWS_SUBNET_IDS_DE=subnet-xxxxxxxxxxxxxxxxx,subnet-yyyyyyyyyyyyyyyyy
RELAY_AWS_SECURITY_GROUP_IDS_DE=sg-xxxxxxxxxxxxxxxxx
RELAY_AWS_INSTANCE_PROFILE_ARN_DE=arn:aws:iam::<account-id>:instance-profile/<profile>

RELAY_AWS_REGION_AE=me-central-1
RELAY_AWS_AMI_ID_AE=ami-xxxxxxxxxxxxxxxxx
RELAY_AWS_SUBNET_ID_AE=subnet-xxxxxxxxxxxxxxxxx
RELAY_AWS_SUBNET_IDS_AE=subnet-xxxxxxxxxxxxxxxxx,subnet-yyyyyyyyyyyyyyyyy
RELAY_AWS_SECURITY_GROUP_IDS_AE=sg-xxxxxxxxxxxxxxxxx
RELAY_AWS_INSTANCE_PROFILE_ARN_AE=arn:aws:iam::<account-id>:instance-profile/<profile>
